<div id="cadastrar" class="col s12 brown lighten-4">
    <a class='dropdown-button waves-effect waves-teal btn-flat btn-large' href='#' data-activates='solicitante'>
        <i class="material-icons small left">person</i>Silicitante
    </a>
    <ul id='solicitante' class='dropdown-content'>
        <li>
            <a>
                <i class="material-icons">add</i>Cadastrar
            </a>
        </li>
        <li>
            <a href="#!">
                <i class="material-icons">create</i>Alterar
            </a>
        </li>
        <li>
            <a href="#!">
                <i class="material-icons">delete</i>Remover
            </a>
        </li>
    </ul>

    <a class='dropdown-button waves-effect waves-teal btn-flat btn-large' href='#' data-activates='beneficio'>
        <i class="material-icons small left">add_shopping_cart</i>Benefício
    </a>

    <ul id='beneficio' class='dropdown-content'>
        <li>
            <a>
                <i class="material-icons">add</i>Cadastrar
            </a>
        </li>
        <li>
            <a routerLink="/beneficios">
                <i class="material-icons">create</i>Alterar
            </a>
        </li>
        <li>
            <a routerLink="/beneficios">
                <i class="material-icons">delete</i>Remover
            </a>
        </li>
    </ul>
</div>