<div class="col s12 m12 l9">
  <h5>Nova Solicitação</h5>
  <form [formGroup]="solicitanteForm" (ngSubmit)="onSubmit()">
    <p-tabView>
      <p-tabPanel header="Tipo de Benefício">
        <span class="input-field">Benefício</span>
        <div class="row">
          <p-dropdown [options]="selectBeneficios" [style]="{'width':'200px'}" required placeholder="Selecione o Benefício" optionLabel="descricao"
            formControlName="beneficio"></p-dropdown>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Identificação">
        <div class="row">
          <div class="input-field col s12 m12 l4">
            <input type="text" pInputText id="nome" required formControlName="nome" />
            <label for="nome">Nome</label>
            <app-mensagem-erro [mostrarErro]="verificaValidTouched('nome')" [msgErro]="msgErro()"></app-mensagem-erro>
          </div>
          <div class="input-field col s12 m8 l3">
            <input type="text" pInputText id="apelido" required formControlName="apelido" />
            <label for="apelido">Apelido</label>
            <app-mensagem-erro [mostrarErro]="verificaValidTouched('apelido')" [msgErro]="msgErro()"></app-mensagem-erro>
          </div>
          <div class="input-field col s12 m8 l3">
            <input type="email" pInputText id="email" formControlName="email" />
            <label for="email">Email</label>
          </div>
          <div class="input-field col s12 m8 l2">
            <p-inputMask mask="(99) 99999-9999" id="contato" formControlName="contato" placeholder="Contato"></p-inputMask>
          </div>
          <div class="input-field col s12 m8 l2">
            <p-inputMask mask="999.999.999-99" required formControlName="cpf" placeholder="CPF"></p-inputMask>
            <app-mensagem-erro [mostrarErro]="verificaValidTouched('cpf')" [msgErro]="msgErro()"></app-mensagem-erro>
          </div>
          <div class="input-field col s5 m8 l2">
            <input type="text" pInputText pKeyFilter="num" id="rg" required formControlName="rg">
            <label for="rg">RG</label>
            <app-mensagem-erro [mostrarErro]="verificaValidTouched('rg')" [msgErro]="msgErro()"></app-mensagem-erro>
          </div>
          <div class="input-field col s5 m8 l2">
            <input type="text" pInputText id="orgEspe" required formControlName="orgaoExpedidor" />
            <label for="orgEspe">Orgão Espedidor</label>
          </div>
          <div class="input-field col s12 m8 l2">
            <input materialize="pickadate" [materializeParams]="[{format: 'dd/mm/yyyy'}]" type="text" class="datepicker" required formControlName="dataNascimento">
            <label for="dataNascimento">Data Nascimento</label>
          </div>
          <div class="input-field col s5 m8 l3">
            <input type="text" pInputText pKeyFilter="num" id="nis" formControlName="nis">
            <label for="nis">NIS</label>
          </div>
          <div class="input-field col s3">
            <select materialize="material_select" [materializeSelectOptions]="selectOptions" formControlName="estadoCivil">
              <option value="" disabled selected>Estado Civil</option>
              <option *ngFor="let option of selectEstadoCivil" [value]="option.id">{{option.descricao}}</option>
            </select>
            <label>Selecione</label>
          </div>
        </div>

        <p-panel header="Certidão de Nascimento">
          <div class="row" formGroupName="certidaoNascimento">
            <div class="input-field col s5 m8 l2">
              <input type="text" pInputText id="numero" formControlName="numero">
              <label for="numero">Número</label>
            </div>
            <div class="input-field col s5 m8 l2">
              <input type="text" pInputText id="livro" formControlName="livro">
              <label for="livro">Livro</label>
            </div>
            <div class="input-field col s5 m8 l2">
              <input type="text" pInputText id="folha" formControlName="folha">
              <label for="folha">Folha</label>
            </div>
            <div class="input-field col s5 m8 l4">
              <input type="text" pInputText id="cartorio" formControlName="cartorio">
              <label for="cartorio">Cartório</label>
            </div>
            <div class="input-field col s5 m8 l2">
              <input type="text" pInputText id="folha" formControlName="folha">
              <label for="folha">Folha</label>
            </div>
          </div>
        </p-panel>
        <br/>
        <p-panel header="Título de Eleitor">
          <div class="row" formGroupName="tituloEleitor">
            <div class="input-field col s5 m8 l2">
              <input type="text" pInputText pKeyFilter="num" id="numero" formControlName="numero">
              <label for="numero">Número</label>
            </div>
            <div class="input-field col s5 m8 l2">
              <input type="text" pInputText pKeyFilter="num" id="zona" formControlName="zona">
              <label for="zona">Zona</label>
            </div>
            <div class="input-field col s5 m8 l2">
              <input type="text" pInputText pKeyFilter="num" id="sessao" formControlName="sessao">
              <label for="sessao">Sessão</label>
            </div>
          </div>
        </p-panel>
        <br/>
        <p-panel header="Endereço">
          <div class="row" formGroupName="endereco">
            <div class="input-field col s12 m8 l2">
              <p-inputMask mask="99999-999" id="cep" formControlName="cep" placeholder="CEP"></p-inputMask>
            </div>
            <div class="input-field col s5 m8 l5">
              <input type="text" pInputText id="rua" formControlName="rua">
              <label for="rua">Rua</label>
            </div>
            <div class="input-field col s5 m8 l3">
              <input type="text" pInputText id="bairro" formControlName="bairro">
              <label for="bairro">Bairro</label>
            </div>
            <div class="input-field col s5 m8 l2">
              <input type="text" pInputText id="numero" formControlName="numero">
              <label for="numero">Número</label>
            </div>
            <div class="input-field col s5 m8 l3">
              <input type="text" pInputText id="complemento" formControlName="complemento">
              <label for="complemento">Complemento</label>
            </div>
            <div class="input-field col s5 m8 l5">
              <input type="text" pInputText id="pontoReferencia" formControlName="pontoReferencia">
              <label for="pontoReferencia">Ponto Referência</label>
            </div>
          </div>
        </p-panel>
      </p-tabPanel>

      <p-tabPanel header="Dados Socioeconômicos">
        <div class="row" formGroupName="dadoSocioEconomico">
          <div class="input-field col s5 m8 l2">
            <span>Estuda?</span>
            <p-checkbox binary="true" formControlName="estuda" id="estuda"></p-checkbox>
          </div>
          <div class="input-field col s5 m8 l4">
            <input type="text" pInputText id="escola" formControlName="escola">
            <label for="escola">Escola</label>
          </div>
          <div class="input-field col s5 m8 l2">
            <input type="text" pInputText id="serie" formControlName="serie">
            <label for="serie">Série</label>
          </div>
          <div class="input-field col s3">
            <select materialize="material_select" [materializeSelectOptions]="selectOptions" formControlName="trabalho">
              <option value="" disabled selected>Trabalho</option>
              <option *ngFor="let option of selectTrabalho" [value]="option.id">{{option.descricao}}</option>
            </select>
            <label>Selecione a forma de trabalho</label>
          </div>
          <div class="input-field col s5 m8 l3">
            <input type="text" pInputText id="funcao" formControlName="funcao">
            <label for="funcao">Função</label>
          </div>
          <div class="input-field col s5 m8 l2">
            <input type="text" pInputText id="renda" formControlName="renda">
            <label for="renda">Renda</label>
          </div>
          <div class="input-field col s3">
            <select materialize="material_select" [materializeSelectOptions]="selectOptions" formControlName="casa">
              <option value="" disabled selected>Casa</option>
              <option *ngFor="let option of selectCasa" [value]="option.id">{{option.descricao}}</option>
            </select>
            <label>Selecione o tipo de Casa</label>
          </div>
          <div class="input-field col s5 m8 l3">
            <input type="text" pInputText id="outroTipoCasa" formControlName="outroTipoCasa">
            <label for="outroTipoCasa">Outro tipo de Casa</label>
          </div>
          <div class="row">
            <div class="input-field col s5 m8 l2">
              <span>Água encanada?</span>
              <p-checkbox binary="true" formControlName="aguaEncanada" id="aguaEncanada"></p-checkbox>
            </div>
            <div class="input-field col s5 m8 l3">
              <span>Esgoto Sanitário?</span>
              <p-checkbox binary="true" formControlName="esgotoSanitario" id="esgotoSanitario"></p-checkbox>
            </div>
            <div class="input-field col s5 m8 l2">
              <span>Energia Elétrica?</span>
              <p-checkbox binary="true" formControlName="energiaEletrica" id="energiaEletrica"></p-checkbox>
            </div>
            <div class="input-field col s5 m8 l3">
              <span>Outro Programa Social?</span>
              <p-checkbox binary="true" formControlName="programaSocial" id="programaSocial"></p-checkbox>
            </div>
            <div class="input-field col s5 m8 l3">
              <input type="text" pInputText id="outroProgramSocial" formControlName="outroProgramSocial">
              <label for="outroProgramSocial">Especifique o Programa</label>
            </div>
            <div class="input-field col s5 m8 l2">
              <input type="text" pInputText id="valorProgramaSocial" formControlName="valorProgramaSocial">
              <label for="valorProgramaSocial">Valor </label>
            </div>
          </div>
          <div class="input-field col s3">
            <select materialize="material_select" [materializeSelectOptions]="selectOptions" formControlName="previdenciaSocial">
              <option value="" disabled selected>Previdência Social</option>
              <option *ngFor="let option of selectPrevidencia" [value]="option.id">{{option.descricao}}</option>
            </select>
            <label>Selecione Previdência Social</label>
          </div>
          <div class="input-field col s5 m8 l2">
            <input type="text" pInputText id="outroPrevidenciaSocial" formControlName="outroPrevidenciaSocial">
            <label for="outroPrevidenciaSocial">Especifique Outros</label>
          </div>
        </div>
      </p-tabPanel>


      <p-tabPanel header="Composição Falimiliar">
        <div class="row" formArrayName="composicaoFamiliar">

          <div class="card-panel hoverable grey lighten-4">
            <p-fieldset *ngFor="let familia of composicaoFamiliar.controls; let i = index" [formGroupName]="i">
              <p-header>{{i + 1}}</p-header>
              <div class="input-field col s12 m8 l2">
                <p-inputMask mask="999.999.999-99" formControlName="cpf" placeholder="CPF"></p-inputMask>
              </div>
              <div class="input-field col s12 m12 l4">
                <input type="text" pInputText id="nomecf" required formControlName="nome" />
                <label for="nomecf">Nome</label>
              </div>
              <div class="input-field col s12 m4 l1">
                <input type="text" pInputText id="idade" pKeyFilter="num" required formControlName="idade" />
                <label for="idade">Idade</label>
              </div>
              <div class="input-field col s12 m4 l3">
                <input type="text" pInputText id="parentesco" required formControlName="parentesco" />
                <label for="parentesco">Parentesco</label>
              </div>
              <div class="input-field col s12 m4 l3">
                <input type="text" pInputText id="pareatividadentesco" required formControlName="atividade" />
                <label for="atividade">Atividade</label>
              </div>
              <div class="input-field col s12 m4 l2">
                <input type="text" pInputText id="renda" required formControlName="renda" />
                <label for="rendacf">Renda</label>
              </div>

              <button pButton type="button" (click)="removerComposicaoFamiliar(i)" label="Remover" class="ui-button-danger"></button>

            </p-fieldset>
            <br/>
            <div class="row">
              <button pButton type="button" (click)="adicionarComposicaoFamiliar()" label="Novo Membro" class="ui-button-success"></button>
            </div>
          </div>


        </div>
      </p-tabPanel>

      <p-tabPanel header="Situação Apresentada">
        <div class="row">
          <div class="input-field col s12 m12 l12">
            <textarea pInputTextarea id="situacaoApresentada" class="materialize-textarea"></textarea>
            <label for="situacaoApresentada">Descreva</label>
          </div>
        </div>

      </p-tabPanel>

      <p-tabPanel header="Observação">
        <div class="row">
          <div class="input-field col s12 m12 l12">
            <textarea pInputTextarea id="observacao" class="materialize-textarea"></textarea>
            <label for="observacao">Descreva</label>
          </div>
        </div>
      </p-tabPanel>

    </p-tabView>
    <p-button type="submit" icon="fa fa-fw fa-check" label="Cadastrar"></p-button>
  </form>
</div>