<div class="row">
  <div class="col s4">
    <div class="card-panel hoverable">
      <h5>Acesso</h5>
      <form [formGroup]="formularioLogin" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="input-field col s12">
            <input id="username" type="text" pInputText formControlName="username" />
            <label for="username">Usuário</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" pInputText formControlName="password"/>
            <label for="password">Senha</label>
          </div>
        </div>
        <p-button type="submit" icon="fa fa-fw fa-check" label="Cessar"></p-button>
      </form>
    </div>
  </div>
</div>