<div class="col s12 m12 l9">
  <p-table [value]="usuarios" selectionMode="single" [(selection)]="selectedUser" (onRowSelect)="onRowSelect($event)" [paginator]="true"
    [rows]="15">
    <ng-template pTemplate="caption">
      Todos os Usuários
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Usuário</th>
        <th>Email</th>
        <th>Permissão</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario let-columns="columns">
      <tr [pSelectableRow]="usuario">
        <td>
          {{ usuario.username }}
        </td>
        <td>
          {{ usuario.email }}
        </td>
        <td>
          <span *ngFor="let permissao of usuario.roles" > {{ permissao.descricao }} </span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
        <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()" label="Adicionar Novo"></button>
      </div>
    </ng-template>
  </p-table>

  <p-dialog header="Informações Usuário" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
    <form [formGroup]="userForm">
      <div class="input-field col s12 m12 l12">
        <input pInputText id="username" formControlName="username" placeholder="Usuário" />
        <app-mensagem-erro [mostrarErro]="verificaValidTouched('username')" [msgErro]="msgErro()"></app-mensagem-erro>
      </div>
      <div class="input-field col s12 m12 l12">
        <input pInputText id="email" type="email" formControlName="email" placeholder="email" />
        <app-mensagem-erro [mostrarErro]="verificaValidTouched('email')" [msgErro]="msgEmailErro()"></app-mensagem-erro>
      </div>
      <div class="input-field col s12 m12 l12">
        <input type="password" pPassword id="password" formControlName="password" placeholder="Senha" promptLabel="Insira uma senha" 
          weakLabel="Fraco" mediumLabel="Média" strongLabel="Forte"/>
        <app-mensagem-erro [mostrarErro]="verificaValidTouched('password')" [msgErro]="msgErro()"></app-mensagem-erro>
      </div>
      <div class="col s12 m12 l12">
        <label for="permissao">Permissão</label>
      </div>
      <div class="col s12 m12 l12">
        <p-multiSelect id="permissao" [options]="multiSelectRoles" formControlName="roles" defaultLabel="Selecione" optionLabel="descricao"
          [style]="{'width':'300px'}"></p-multiSelect>
        <app-mensagem-erro [mostrarErro]="verificaValidTouched('roles')" [msgErro]="msgErro()"></app-mensagem-erro>
      </div>
    </form>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa-close" (click)="confirmacao()" label="Remover"></button>
        <button type="button" pButton icon="fa-check" (click)="salvar()" label="Salvar"></button>
      </div>
    </p-footer>
  </p-dialog>
  <p-confirmDialog header="Confirmação" icon="fa fa-question-circle" width="425"></p-confirmDialog>
</div>